body {
	background-color: #2a2a2a;
	color: #e0e0e0;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 18px;
	display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.forms_group {
	display: flex;
    flex-direction: column;
	margin-right: 4px;
}

.forms_field {
	display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
	margin-bottom: 4px;
}

.forms {
	display: flex;
	flex-direction: column;
	width: min-content;
	border-radius: 4px;
	padding: 4px;
	background: #777;
	width: 222px;
	margin-left: 4px;
}

.forms > * {
	margin-bottom: 4px;
}

.forms > .title {
	font-size: large;
	font-weight: 900;
    text-align: end;
    padding-right: 4px;
    color: #ff751d;
    text-shadow: 2px 1px 0 #4f4f4f;
}

.forms > input, .forms > select {
	padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;
}

.forms > input:focus, .forms > select:focus {
	outline: none;
	background:  #ff751d;
	color: #fff;
}

.forms > input::placeholder {
	font-weight: 400;
}

.forms > input:focus::-webkit-input-placeholder {
	color: #ffffff;
	opacity: 0.4;
}

.forms > input::-webkit-input-placeholder {
	color: #777;
}


.forms > button, .presets > * {
	padding: 8px 16px;
	border: none;
	background: #333;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.forms > button:hover, .presets > *:hover {
	background: #ff751d;
	transition: background 0.3s ease;
}

.button_compare_agents {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.button_compare_agents > * {
	margin: 0;
}

.results {
	padding: 8px 8px 0 8px;
	background: #777;
	border-radius: 4px;
}

.results > .Skill {
    display: flex;
    flex-direction: column;
	margin-bottom: 8px;

}

.results > .Skill > .Name {
	font-weight: bold;
	margin-bottom: 4px;
	color: #ff751d;
	background: #555;
    border-radius: 4px;
    padding: 4px 8px;
}

.results > .Skill > .Params {
	display: flex;
    flex-direction: row;
}

.results > .Skill > .Params > div > .name {
	font-weight: bold;
	color: #bbb;
    margin-bottom: 4px;
	text-shadow: 1px 1px #3e3e3e;
}

.results > .Skill > .Params > div {
    margin-right: 12px;
}

.all_stats {
	display: flex;
    flex-direction: column;
}

.agents, .effects {
	display: flex;
    flex-direction: column;
}

.agents > div, .effects {
	display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    background: #777;
    border-radius: 4px;
}

.agents > div > .title, .effects > .title {
	font-size: large;
	font-weight: 900;
    text-align: end;
    color: #ff751d;
    text-shadow: 2px 1px 0 #4f4f4f;
	padding: 4px;
}

.agents > div > .name {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: start;
    color: #ff751d;
    background: #555;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.agents > div > .stats, .effects > .stats {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.agents > div > .stats > div, .effects > .stats > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2px;
}

.agents > div > .stats > div > .Name, .effects > .stats > div > .Name {
	font-weight: bold;
	margin-right: 20px;
}

.agents > div >.stats > div >.Value, .effects > .stats > div > .Value {
    color: #ff751d;
	text-shadow: 2px 1px 0 #4f4f4f;
}



.presets > * {
	width: -webkit-fill-available;
	margin-bottom: 4px;
}



