body {
	background-color: #2a2a2a;
	color: #e0e0e0;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 18px;
	display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.form_agent_stats {
	display: flex;
	flex-direction: column;
	width: min-content;
	border-radius: 4px;
	padding: 4px;
	background: #777;
}

.form_agent_stats > * {
	margin-bottom: 4px;
}

.form_agent_stats > input {
	padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;
}

.form_agent_stats > input::placeholder {
	font-weight: 400;
}

.form_agent_stats > input:focus {
	outline: none;
	background: #D15F16;
	color: #fff;
}

.form_agent_stats > input:focus::-webkit-input-placeholder {
	color: #ffffff;
}

.form_agent_stats > input::-webkit-input-placeholder {
	color: #777;
}

.form_agent_stats > button {
	padding: 8px 16px;
	border: none;
	background: #333;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.form_agent_stats > button:hover {
	background: #555;
	transition: background 0.3s ease;
}

.results {
	padding: 0 16px;
}

.results > .Skill {
    display: flex;
    flex-direction: column;
	margin-bottom: 12px;
}

.results > .Skill > .Name {
	font-weight: bold;
	margin-bottom: 4px;
	color: #D15F16;
}

.results > .Skill > .Params {
	display: flex;
    flex-direction: row;
}

.results > .Skill > .Params > div > .name {
	font-weight: bold;
	color: #999;
}

.results > .Skill > .Params > div {
    margin-right: 12px;
}

.agents {
	display: flex;
    flex-direction: column;
	margin-right: 12px;
}

.agents > div {
    margin-bottom: 12px;
}

.agents > div >.count {
	color: #999;
}

.agents > div >.name {
    font-weight: bold;
}

.agents > div > .stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.agents > div > .stats > div {
	margin-right: 8px;
}